body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: palevioletred;
    border-bottom: 1px solid;
    padding: 20px 0;
    position: relative;
}
.header-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.logo{
    display: flex;
    align-items: center;
    size: 20px;
}
.logo img{
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: #ff00bf;
}
header h1{
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}
.title-section{
    display: flex;
    align-items: center;
}
.login-section{
    position: absolute;
    top: 10px;
    left: 10px;
}
.login-section a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.login-button{
    text-decoration: none;
    color: white;
    background-color: #ff00bf;
    padding: 8px 15px;
    border-radius: 5px;
}
.login-button:hover{
    background-color: #ff0073;
}
.top-right-section{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin: 10px;
}
.search-form{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.search-form input[type="text"]{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 5px;
}
.search-form button{
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #ff00bf;
    color: white;
}
.search-form button:hover{
    background-color: #ff0073;
}
.product-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}
.product{
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    transition: transform o.3s ease-in-out;
}
.product:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.product {
    text-decoration: none;
    color: #333;
}
.product img{
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
}
.product-image img{
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
.product-image:hover img{
    transform: scale(1.1);
}
.product-name{
    font-family: 'Arial Black',sans-serif;
    font-size: 20px;
    color: #333;
}
.product p{
    font-size: 14px;
    color: #666;
}
.buttons{
    text-align: center;
    padding: 20px;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background-color: #ff00bf;
    border-radius: 5px;
    font-size: 16px;
}
.button:hover{
    background-color: #ff0073;
}
.product .buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.product .button{
    margin-right: o 5px;
}
.discount-banner {
    background-color: palevioletred;
    text-align: center;
    padding: 20px 0; 
}

.discount-content {
    max-width: 1200px;
    margin: 0 auto;
}

.discount-content h2 {
    font-size: 36px;
    color: #333;
}

.discount-content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.discount-content .button {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #ff00bf;
    transition: background-color 0.3s ease;
}

.discount-content .button:hover {
    background-color: #ff0073;
}
.banners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.banner{
    text-align: center;
    margin-top: 20px;
}
.banner img{
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}
.product:nth-child(even){
    background-color: white;
}
.product:nth-child(odd){
    background-color: white;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.footer-container{
    max-width: 1200px;
    margin: auto;
}